*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #efedd6;
}
h2 {
    margin: 10px;
    font-size: 30px;
}
.box {
    width: 400px;
    height: 200px;
    background-color: steelblue;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    color: #fff;
    transform: translateX(400%);
    box-shadow: 2px 4px 5px rgb(0 0 0 / 30%);
    transition: transform .4s ease;
}
.box:nth-child(even){
    transform: translateX(-400%);
}
.box.show {
    transform: translateX(0);
}